@import "./scss/variables.scss";
@import "./scss/mixins";

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width:1200px;
  margin:0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: $background;
  color: $text-color;
  height: 100vh;
  
}

.nav {
  background:rgb(27,2,36);
  background: linear-gradient(68deg, rgba(27,2,36,1) 17%, rgba(93,27,116,1) 66%, rgba(164,45,207,1) 98%);
  height: 3em;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 1em;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;

  .logo {
      height: 7em;
      margin-top: 1.5em;
      opacity: .90;
      transition: all 0.5s ease-in-out;
    }
  .menu {
    width: 2.5em;
    margin-right: 3em;
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
  }
  .menu:hover {
    opacity: .62;
    transform: scale(1.1);
  }
  .logo:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  h1 {
    align-self: flex-end;
    margin-left: 0.5em;
    margin-top: 0.25em;
    font-size: 3em;
    color: #95fcfc;
  }

  }


.main {
  display: flex;
  position: relative;
  width: 100vw;

  img {
    width: 100%;
    // object-fit: scale-down;
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: $pink;
    color: black;
    font-size: 16px;
    font-weight: 900;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .btn:hover {
    padding: 13px 25px;
    font-size: 17px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%) scale(1.1);;
  }
  .btn2 {
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: $teal;
    color: black;
    font-size: 18px;
    font-weight: 800;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .btn2:hover {
    padding: 9px 25px;
    font-size: 19px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%) scale(1.1);;
  }
}
