$background: linear-gradient(49deg, rgba(5,60,64,1) 6%, rgba(21,5,33,0.9906556372549019) 15%, rgba(29,5,46,1) 77%, rgba(5,60,64,1) 93%);;
$text-color: #f1d3b3;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 50px;
$pink: #E22BF2;
$teal: #2BDAF2